{% extends 'main/base.html' %}
{% block title%}
Контакты
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Для записи на персональные тренировки вы можете связаться со мной любым удобным для вас способом</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="row">
 <div class="contact_btn" style="float: right; padding-left: 300px; padding-top: 100px;">
  <a href="tel:+375297507018" class="btn btn-info" > Позвонить</a>
 </div>
<div class="row">
    <div class="contact_btn" style="float: right; padding-left: 300px; padding-top: 100px;">
  <a href="https://t.me/IKBOXING" class="btn btn-info" >Telegram</a>
 </div>
<div class="contact_btn" style="float: right; padding-left: 300px; padding-top: 100px;">
  <a href="https://www.instagram.com/ilyakulinenko" class="btn btn-info" >Instagram</a>
 </div>
</div>
</body>
</html>


{% endblock %}

