{% extends "base.html" %}
<!--это наследование extends-->
{% load static %}
{% block title %}{% endblock %}
{% block sidebar %}
 <ul>
     <li><b href="/">Index Home</b></li>
     <li><b href="/'all-instances'">ALL CODERS</b></li>
     <!--<li><a href="/blog/">Blog</a></li>-->
 </ul>
{% endblock %}


{% block content %}
<h1>Title</h1>
<p style="color:#CD5C5C">
   {{ text }}</p>


{#{% for story in story_list %}#}
{#<h2>#}
{#  <a href="{{ story.get_absolute_url }}">#}
{#    {{ story.headline|upper }}#}
{#  </a>#}
{#</h2>#}
{#<p>{{ story.tease|truncatewords:"100" }}</p>#}
{#{% endfor %}#}

{% endblock %}